::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
}

input.khyzer[type=text],
input.ro[type=text],
input.khyzer[type=email],
input.khyzer[type=password],
select.khyzer,
textarea {
  border: 0 solid #e85b2a;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 6px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--input-font);
  box-sizing: border-box;
}

:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.2s ease-in-out; }
:focus:-moz-placeholder            { opacity: 0; transition: opacity 0.2s ease-in-out; }
:focus::-moz-placeholder           { opacity: 0; transition: opacity 0.2s ease-in-out; }
:focus:-ms-input-placeholder       { opacity: 0; transition: opacity 0.2s ease-in-out; }

select.khyzer {
  text-align: center;
  text-align-last: center;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

select.khyzer option {
  padding: 4px;
  cursor: pointer;
  color: black;
}

select.khyzer:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1px;
  color: black;
}

.col-25 {
  float: left;
  width: 60%;
  margin-top: 8px;
}

.col-75 {
  float: left;
  width: 35%;
  margin-top: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  ::placeholder {
    font-size: 12px;
  }

  input.khyzer[type=text],
  input.ro[type=text],
  input.khyzer[type=email],
  input.khyzer[type=password],
  select.khyzer,
  textarea {
    font-size: 13px;
  }
}
